<!-- /********************************************************************************
* Copyright (c) 2021 Contributors to the Eclipse Foundation
*
* See the NOTICE file(s) distributed with this work for additional
* information regarding copyright ownership.
*
* This program and the accompanying materials are made available under the
* terms of the Eclipse Public License v. 2.0 which is available at
* http://www.eclipse.org/legal/epl-2.0.
*
* SPDX-License-Identifier: EPL-2.0
********************************************************************************/ -->

<div class="row allowArea">
  <label class="col-sm-2 col-form-label">Erlaubt für</label>

  <div class="col-sm-10">
    <div class="btn btn-secondary" (click)="addRow()">Neue Bedingung</div>

    <div *ngIf="form.controls.length == 0" class="allowInfo">Ohne Einschränkung erlaubt!</div>

    <form [formGroup]="form" #fieldsForm *ngIf="form">
      <table class="allowTable" *ngIf="form.controls.length > 0" aria-describedby="distribution group condition table">
        <thead>
          <tr>
            <th scope="col">Klassifizierung</th>
            <th scope="col">Sparte</th>
            <th scope="col">Default</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of form.controls; index as i">
            <ng-container *ngIf="row.controls['deleted'].value === false">
              <td>
                <select class="form-control select-control" [formControl]="row.controls['classificationId']" (change)="updateElem(row.controls['id'].value)">
                  <option value="" disabled>Wähle eine Klassifizierung</option>
                  <ng-container *ngFor="let entry of sandbox.getGridFailureClassificationsData$ | async">
                    <option [ngValue]="entry.id">{{ entry.classification }}</option>
                  </ng-container>
                </select>
              </td>
              <td>
                <select class="form-control select-control" [formControl]="row.controls['branchId']" (change)="updateElem(row.controls['id'].value)">
                  <option value="" disabled>Wähle einen gültigen Bereich</option>
                  <ng-container *ngFor="let entry of sandbox.getGridFailureBranchesData$ | async">
                    <option [ngValue]="entry.id">{{ entry.description }}</option>
                  </ng-container>
                </select>
              </td>
              <td>
                <div class="checkboxField">
                  <input
                    type="checkbox"
                    class="form-control2 checkbox"
                    [formControl]="row.controls['autoSet']"
                    (change)="updateElem(row.controls['id'].value)"
                  />
                </div>
              </td>
              <td>
                <div class="btn btn-warning btn-sm" (click)="delete(row.controls['id'].value)"><em class="fa fa-trash"></em></div>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
