/********************************************************************************
 * Copyright (c) 2020 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 ********************************************************************************/
label {
  white-space: nowrap;
}

span {
  margin: 3px;
}

.ag-grid-filter-container {
  height: auto;
  width: 250px;
  margin: 4px;
  border: 1px solid lightgrey;
  z-index: 100;
}

.ag-grid-filter-text {
  width: 99%;
  margin: 1px;
}

.ag-grid-filter {
  border-bottom: 1px solid lightgrey;
  margin: 2px;
}

.ag-grid-filter-checkbox {
  overflow-y: scroll;
  overflow: hidden;
  margin: 2px;
}
