<!-- /********************************************************************************
* Copyright (c) 2020 Contributors to the Eclipse Foundation
*
* See the NOTICE file(s) distributed with this work for additional
* information regarding copyright ownership.
*
* This program and the accompanying materials are made available under the
* terms of the Eclipse Public License v. 2.0 which is available at
* http://www.eclipse.org/legal/epl-2.0.
*
* SPDX-License-Identifier: EPL-2.0
********************************************************************************/ -->
<nav *ngIf="router.url !== '/loggedout'" class="navbar navbar-default navbar-fixed-top masthead overview-navbar" role="banner">
  <div class="container-fluid">
    <div class="navbar-header" (click)="navigateHome()">
      <a class="navbar-brand">
        <span class="open">Open</span>
        <span class="konsequenz">KONSEQUENZ</span>
      </a>
    </div>
    <div class="navbar-right" style="display: inline-flex;">
      <div class="btn btn-link navbar-btn" title="Erinnerung">
        <i class="fa fa-bell" [style.color]="!!(failureSandbox.isReminderActive$ | async) ? 'red' : '#003a5f'"></i>
      </div>
      <button type="button" class="btn btn-link navbar-btn" title="Startseite" (click)="navigateHome()">
        <i class="fa fa-home"></i>
      </button>
      <button *visibleByRight="[RolesEnum.PUBLISHER]" type="button" class="btn btn-link navbar-btn" title="Verteilergruppen" (click)="navigateToDistributionGroups()">
        <i class="fa fa-users"></i>
      </button>
      <a class="btn btn-link navbar-btn" href="{{ helpUrl }}" title="Hilfe" target="_blank">
        <i class="fa fa-question-circle"></i>
      </a>
      <span class="divider"></span>
      <div class="dropdown-open nav-user nav-overview-user">
        <a class="btn btn-logout dropdown-toggle" style="min-width: 160px;" data-bs-toggle="dropdown" href="#" aria-expanded="true">
          {{ userName }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <a (click)="navigateToLogout(); logout.emit()">{{ 'Logout.Logout' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <app-version-info class="version-info-simple"></app-version-info> -->
</nav>
